/* Reset format */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.navbar-hello {
  margin: 0;
  margin-bottom: 0;
}
.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-color: #ee2b47;
}
/* Ma mau
#34374C
#2C2E3E
#EE2B47
#F6F6F6 */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
  } */
  .navbar-hello .brand {
    display: none;
  }
}
