/* Reset format */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.navbar-hello {
  margin: 0;
  margin-bottom: 0;
}
.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-color: #ee2b47;
}
.dropdown-menu a:hover {
  color: #ee2b47;
  font-weight: bold;
}

.navbar-hello .brand {
  display: none;
}

@media (max-width: 739px) {
  .mobile-none {
    display: none;
  }
  .navbar-dark .navbar-toggler {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .iPad-none {
    display: none;
  }
  .navbar-dark .navbar-toggler {
    margin-left: auto;
  }
}
