@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("../fonts/OpenSans-400.woff") format("woff");
}

@font-face {
    font-family: "Varela";
    font-style: normal;
    font-weight: 400;
    src: local("Varela"), url("../fonts/Varela-400.woff") format("woff");
}

.scrollToTop {
    bottom: 105px;
    display: none;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    right: 75px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 9999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.scrollToTop:hover,
.scrollToTop:focus {
    text-decoration: none;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

#contentbody {
    background-color: #eee;
    display: inline;
    float: left;
    min-height: 500px;
    padding: 0 30px;
    width: 100%;
    padding-top: 10px;
}

.recentpost_nav li {
    display: block;
    margin-bottom: 20px;
}

.recentpost_nav li a {
    display: block;
    line-height: 23px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.recentpost_nav li a:hover {
    opacity: 0.75;
}

.recentpost_nav li a>img {
    margin-bottom: 5px;
    width: 100%;
}

.recent_title:before {
    content: "ï„";
    margin-right: 5px;
}

.recent_title:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.post_title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 30px;
    padding: 15px;
    border-left-style: solid;
    border-left-width: 15px;
}

.single_post_content {
    background-color: #fff;
    display: inline;
    float: left;
    margin-top: 40px;
    padding: 40px 20px;
    width: 100%;
}

.single_post_content img {
    margin-bottom: 10px;
    max-width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.single_post_content img:hover {
    opacity: 0.75;
}

.related_post {
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: inline;
    float: left;
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
}

.related_post>h2 {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #e3e3e3;
    font-size: 17px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0 20px;
    padding: 10px 0px;
    width: 100%;
}

.relatedpost_nav li {
    float: left;
    width: 32%;
    margin-right: 12px;
}

.relatedpost_nav li:last-child {
    margin-right: 0;
}

.social_area {
    display: inline;
    float: left;
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
}

.social_area ul {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.social_area ul li {
    display: inline-block;
}

.social_area ul li>a {
    background: none repeat scroll 0 0 grey;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    margin: 0 4px;
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
    opacity: 0.75;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.social_area ul li>a:hover {
    border-radius: 0;
    opacity: 1;
    margin-top: -5px;
}

.social_area li:nth-child(1)>a {
    background: none repeat scroll 0 0 #3b5998;
    padding: 6px 16px;
}

.social_area li:nth-child(2)>a {
    background: none repeat scroll 0 0 #00acee;
}

.social_area li:nth-child(3)>a {
    background: none repeat scroll 0 0 #dd4b39;
}

.social_area li:nth-child(4)>a {
    background: none repeat scroll 0 0 #0e76a8;
}

.social_area li:nth-child(5)>a {
    background: none repeat scroll 0 0 #c92228;
}