/* Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (max-width: 739px) {
    .toogleMobile1,
    .toogleMobile2 {
        display: none;
    }
}

.active {
    display: block;
}
