body 
{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    color :#2C2E3E;
    font-family: "Inter";
    background-color:#34374C ;
    font-size:15px
}
.post_title 
{ font-weight: bold!important;
  font-size: 2.3!important;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 30px;
  padding: 15px;
  border-left-style: solid;
  border-left-width: 15px;
}
.author_name
{
  color:#2C2E3E
}
.single_post_content
{
  color:#2C2E3E;
}
.single_post_area
{
  width: 700px;

}
.middle_bar
{
  margin-left: 185px
}
.btn-success
{
 color:#fff;
 background-color: #2C2E3E;
 border-color: #2C2E3E;
}
.btn-warning
{
 color:#fff;
 background-color: #EE2B47;
 border-color: #EE2B47;
}
.btn-primary
{ 
  color:#fff;
  background-color: #2C2E3E;
  border-color: #2C2E3E;

}
.scrollToTop {
  bottom: 105px;
  display: none;
  font-size: 32px;
  font-weight: bold;
  height: 50px;
  position: fixed;
  right: 290px!important;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 9999;
  margin-left: 150px !important;
 
}
.related_post
{
  width: 700px;
}
.mr-2
{
  font-size: 16px;
  font-weight: bold;
  margin-top:  5px !important;
}
.h5, h5 
{
  font-size: 1.5rem;
  font-weight: bold!important;
  margin-top:  5px !important;
}

.author_name {
  color: #2C2E3E;
  margin-right: 20px;
}
.ml-2, .mx-2 
{
  margin-bottom: .23rem!important;
  
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
